@import "tailwindcss";
@plugin "daisyui";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
